*{
  box-sizing: border-box;                                                                                                  
}
.wrapper{
  display: flex;
}

.side-bar{
  width: 300px;
  color: #ffffff;

  &__header{
    background-color: #253141;
    height: 100px;
    padding: 0px 20px;


    &__content{
      line-height: 100px;
      display: flex;
      justify-content: space-between;

      &__name{
        font-size: 16px;
        font-weight: bold;
      }

      &__icon{
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
  &__body{
    height: calc(100vh - 100px);
    background-color: #2f3e51;

    &__content{
      padding: 20px 20px;
      &__group-name{
        font-size: 15px;
        padding-bottom: 5px;
      }
      &__text{
        font-size: 11px;
      }
    }
  }
}

.main{
  width: calc(100vw - 300px);
  &__header{
    height: 100px;
    background-color: #ffffff;
    border-bottom: solid 1px #eeeeee;
    display: flex;
    justify-content: space-between;
    &__group-info{
      &__name{
        color: #333333;
        font-size: 20px;
        padding: 35px 0px 15px 40px;
      }
      &__member{
        color: #999999;
        font-size: 12px;
        padding-left: 40px;
      }
    }
    &__edit-btn{
      color: #38aef0;
      border: solid #38aef0 1px;
      height: 40px;
      line-height: 40px;
      padding: 0px 20px;
      margin: 28px 40px ;
      text-decoration: none;
    }
  }    
  &__body{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    overflow: scroll;
    &__content{
      padding: 35px 0px 11px 40px;
            
      &__info{
        display: flex;
        &__name{
          color: #333333;
          font-size: 16px;
        }
        &__time{
          color: #999999;
          font-size: 12px;
        }
      }
      &__text{
        color: #434A54;
        font-size: 14px;
      }
    }
  }          
  &__message-form{
    height: 90px;
    justify-content: space-between;
    background-color: #d2d2d2;
    display: flex;
    position: fixed;
    bottom: 0px;
    position: relative;
    &__content{
      position: relative;
      height: 90px;
      width: calc(100vw - 300px - 120px - 15px);


      &__text-box{
        height: 50px;
        width: calc(100vw - 300px - 120px - 15px - 40px);
        margin: 20px 15px 20px 40px;
        padding: 20px;
        position: absolute;
        border: none;

      }

      &__image{
        position: absolute;
        top: 35px;
        right: 10px;

        &__btn{
          display: none;

        }
      }

      &__send-btn{
        height: 50px;
        margin: 20px 40px 0px 0px;
        background-color: #38aef0;
        color: #fafafa;
        width: 80px;
        right: 40px;
        position: fixed;
        right: 0px;
        border: none;
      }    
    }
  }   
}